<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
   rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<title>Dados Cadastrais</title>
</head>
<body>
    <br><b><a href="/homeTelaInicial">Início</a></b></br>
  
  <style>
    body{
    background-color: rgb(202, 213, 247);
  }
  </style>
  
  <style>
    div.a {
      text-align: center;
    }
    </style>
    
    <div class="a">
<br>
    <h1><b><font face="Arial Narrow">Dados Cadastrais</font></b></h1>
  
</br>
<form method="POST" action="/dadosCadastrais">
    <br><b><a href="/listChamado">1. DADOS DE CHAMADOS</a></b>
    <p></p>  
    <br><b><a href="/listFila">2. DADOS DE FILA</a></b>
    <p></p>  
    <br><b><a href="/listUsuario">3. DADOS DE USUÁRIOS</a></b>
    <p></p>  
    <br><b><a href="/listTipo">4. DADOS DE TIPOS DE USUÁRIOS</a></b>
    <p></p>  
    <br><b><a href="/listProduto">5. DADOS DE PRODUTOS</a></b>
    <p></p>  
    
    </div>
  </form>
  </body>
</html>